<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://www.socar.kr/static/favicon.ico">

    <title>SOCAR 시각화통계</title>

    <script src="http://www.chartjs.org/dist/2.7.3/Chart.bundle.js"></script>
	<script src="http://www.chartjs.org/samples/latest/utils.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css" rel="stylesheet">

    <!-- d3 -->
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>
	<script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
	<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
	<script src="https://d3js.org/d3-request.v1.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">SOCAR 시각화통계</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2 class="h2">10월 데이터사용량 통계</h2>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                이번달
              </button>
            </div>
          </div>

          <div id="container" style="width: 98%;">
			<canvas id="canvas"></canvas>
		  </div>
			<button id="addDataset">전월 비교</button>
			<button id="removeDataset">비교 해제</button>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="http://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="http://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
    -->

<script>

	d3.csv("/public/data2.csv", type, function(error,data){

		if (error) throw error;

		var section_array = new Array();
		var pre_section = 0;
		for(i=150; i<=15050; i = i+100){
			var cnt = 0;
			var cnt_last = 0;
			var data_scale = new Object();
			data_scale.section = i;

			for(j = 0; j<data.length; j++){
				if(data_scale.section < 15050){
					if(data[j].usage_this_month > pre_section && data[j].usage_this_month <= data_scale.section){
						cnt++;
						data_scale.section_cnt = cnt;
					}

					if(data[j].usage_last_month > pre_section && data[j].usage_last_month <= data_scale.section){
						cnt_last++;
						data_scale.section_cnt_last = cnt_last;
					}

				}else{
					if(data[j].usage_this_month > data_scale.section){
						cnt++;
						data_scale.section_cnt = cnt;
					}

					if(data[j].usage_last_month > data_scale.section){
						cnt_last++;
						data_scale.section_cnt_last = cnt_last;
					}
				}
			}
			pre_section = data_scale.section;
			section_array.push(data_scale);
		}

		var usage_section = [];
		var usage_section_cnt = [];
		var usage_section_cnt_last = [];
		section_array.forEach(function(d){
			usage_section.push(d.section + " MB");
			usage_section_cnt.push(d.section_cnt);
			usage_section_cnt_last.push(d.section_cnt_last);
		});

	var MONTHS = usage_section;
	var color = Chart.helpers.color;
	var barChartData = {
		labels: usage_section,
		datasets: [{
			label: '10월',
			backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
			borderColor: window.chartColors.red,
			lineTension: 0,
			borderWidth: 1,
			data: usage_section_cnt
		}]
	};

	var ctx = document.getElementById('canvas').getContext('2d');
	window.myBar = new Chart(ctx, {
		type: 'bar',
		data: barChartData,
		options: {
			responsive: true,
			legend: {
				position: 'top',
			},
			title: {
				display: true,
				text: ''
			},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			},
		}
	});

	var colorNames = Object.keys(window.chartColors);
	document.getElementById('addDataset').addEventListener('click', function() {
		if(barChartData.datasets.length > 1){
			return;
		}
		var colorName = colorNames[barChartData.datasets.length % colorNames.length];
		var dsColor = window.chartColors[colorName];
		var newDataset = {
			label: '9월',
			backgroundColor: color(dsColor).alpha(0.5).rgbString(),
			borderColor: dsColor,
			lineTension: 0,
            borderWidth: 1,
            pointBackgroundColor: '#007bff',
			data: usage_section_cnt_last
		};

		barChartData.datasets.push(newDataset);
		window.myBar.update();
	});

	document.getElementById('removeDataset').addEventListener('click', function() {
		if(barChartData.datasets.length == 1){
			return;
		}
		barChartData.datasets.pop();
		window.myBar.update();
	});
			});

	function type(d){
		d.phone = String(d.phone);
		d.usage_this_month = parseFloat(d.usage_this_month);
		d.usage_last_month = parseFloat(d.usage_last_month);
		return d;
	}





	/*
	document.getElementById('randomizeData').addEventListener('click', function() {
		var zero = Math.random() < 0.2 ? true : false;
		barChartData.datasets.forEach(function(dataset) {
			dataset.data = dataset.data.map(function() {
				return zero ? 0.0 : randomScalingFactor();
			});

		});
		window.myBar.update();
	});

	var colorNames = Object.keys(window.chartColors);
	document.getElementById('addDataset').addEventListener('click', function() {
		var colorName = colorNames[barChartData.datasets.length % colorNames.length];
		var dsColor = window.chartColors[colorName];
		var newDataset = {
			label: 'Dataset ' + (barChartData.datasets.length + 1),
			backgroundColor: color(dsColor).alpha(0.5).rgbString(),
			borderColor: dsColor,
			borderWidth: 1,
			data: []
		};

		for (var index = 0; index < barChartData.labels.length; ++index) {
			newDataset.data.push(randomScalingFactor());
		}

		barChartData.datasets.push(newDataset);
		window.myBar.update();
	});

	document.getElementById('addData').addEventListener('click', function() {
		if (barChartData.datasets.length > 0) {
			var month = MONTHS[barChartData.labels.length % MONTHS.length];
			barChartData.labels.push(month);

			for (var index = 0; index < barChartData.datasets.length; ++index) {
				// window.myBar.addData(randomScalingFactor(), index);
				barChartData.datasets[index].data.push(randomScalingFactor());
			}

			window.myBar.update();
		}
	});

	document.getElementById('removeDataset').addEventListener('click', function() {
		barChartData.datasets.pop();
		window.myBar.update();
	});

	document.getElementById('removeData').addEventListener('click', function() {
		barChartData.labels.splice(-1, 1); // remove the label first

		barChartData.datasets.forEach(function(dataset) {
			dataset.data.pop();
		});

		window.myBar.update();
	});
	*/
	</script>
  </body>
</html>
